<div class="row mt-5 mb-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">Detalles {{item?.Name}}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">Name: {{item?.Name}}</div>
          <div class="col-12">Image: {{item?.Image}}</div>
          <div class="col-12">Ports: {{item?.Ports}}</div>
          <div class="col-12">Labels: {{item?.Labels}}</div>
          <div class="col-12">State: {{item?.State}}</div>
          <div class="col-12">Status: {{item?.Status}}</div>
          <div class="col-12">Created: {{item?.Created}}</div>
        </div>
      </div>
      <div class="card-footer d-flex flex-row-reverse">
        <button class="btn btn-primary mx-1 " [routerLink]="['/client']">Atras</button>
      </div>
    </div>
  </div>
</div>
