<div class="row">
  <div class="col-md-4 col-sm-12"></div>
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Register</h5>
      </div>
      <div class="card-body">
        <div *ngIf="error" class="text-center errorText">{{error.message}}</div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="save($event)" class="login-form">
            <div class="mb-3">
              <label for="formName" class="form-label">Name</label>
              <input class="form-control form-control-lg" id="formName" matInput placeholder="johndoe" type="text" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="formEmail" class="form-label">Email</label>
              <input class="form-control form-control-lg" id="formEmail" matInput placeholder="johndoe@gmail.com" type="email" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="formPassword" class="form-label">Password</label>
              <input class="form-control form-control-lg" id="formPassword" matInput type="password" formControlName="password">
            </div>
            <div class="mb-3">
              <label for="formConfirmPassword" class="form-label">Confirm Password</label>
              <input class="form-control form-control-lg" id="formConfirmPassword" matInput type="password" formControlName="confirmPassword">
            </div>
            <div class="row">
              <div class="col-6">
                <div class="link-container">
                  <a class="login-link" (click)="goLogin()">Log In</a>
                </div>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-primary float-end">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12"></div>
</div>
